<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1139882032725068</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>e952ab0d5deb3ad6e91eb3ae0eb7db108d635812</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>vFZkPyPXyTtH9GbDOI6QP7eMu</string>
					<key>consumerSecret</key>
					<string>NLxxqyqqYSUqTiZh344R6ebdxhQRe7EyTmF479iFYavUKlDneu</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1139882032725068</string>
	<key>FacebookDisplayName</key>
	<string>BellyBump</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>instagram</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>ionicons.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>pt-sans.regular.ttf</string>
		<string>MyriadPro-Regular.otf</string>
		<string>font0.ttf</string>
		<string>font1.ttf</string>
		<string>font2.ttf</string>
		<string>font3.ttf</string>
		<string>font4.ttf</string>
		<string>font5.ttf</string>
		<string>font6.ttf</string>
		<string>font7.ttf</string>
		<string>font8.ttf</string>
		<string>font9.ttf</string>
		<string>font10.ttf</string>
		<string>font11.ttf</string>
		<string>font12.ttf</string>
		<string>font13.ttf</string>
		<string>font14.otf</string>
		<string>font15.ttf</string>
		<string>font16.ttf</string>
		<string>font17.ttf</string>
		<string>font18.otf</string>
		<string>font19.ttf</string>
		<string>font20.ttf</string>
		<string>font21.ttf</string>
		<string>font22.ttf</string>
		<string>font23.ttf</string>
		<string>font24.ttf</string>
		<string>font25.ttf</string>
		<string>font26.ttf</string>
		<string>font27.ttf</string>
		<string>font28.ttf</string>
		<string>font29.ttf</string>
		<string>font30.ttf</string>
		<string>font31.ttf</string>
		<string>font32.ttf</string>
		<string>font33.ttf</string>
		<string>font34.ttf</string>
		<string>font35.ttf</string>
		<string>font36.ttf</string>
		<string>font37.ttf</string>
		<string>font38.ttf</string>
		<string>font39.ttf</string>
		<string>font40.ttf</string>
		<string>font41.ttf</string>
		<string>font42.ttf</string>
		<string>font43.ttf</string>
		<string>font44.ttf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>BEBMain</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
